@import url('./vars.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    color: var(--main-font-color);
    background-color: var(--main-background);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;

}

.header {
    background-color: var(--background-btn);
    padding: 20px 0;
    color: #272525;
}

.main {
    padding-top: 30px;
}

.section {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.side {
    background-color: #fff;
    width: 570px;
    padding: 35px 35px 15px 35px;
    border-radius: var(--main-border-radius);
}

.title_2 {
    font-size: 24px;
    line-height: 1.333;
    font-weight: 500;
    color: #1c1c1c;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.col {
    display: flex;
    flex-direction: column;
}

.col_half {
    width: 50%;
}

.col_full {
    width: 100%;
}

.label {
    line-height: 1.467;
    margin-bottom: 7px;
}

input,
.select {
    border: 1px solid #e4e4e4;
    border-radius: var(--main-border-radius);
    font-size: inherit;
    height: 38px;
    padding: 0 10px;

}

.gender_item {
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
    margin-bottom: 20px;
}

.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.385;
    letter-spacing: -0.1px;
    color: #969696;
    margin-top: 7px;
}

.gender_item label {
    display: flex;
    align-items: center;
}

.gender_check {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
}

.gender_check::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 0px 5px #007BFF inset;
    opacity: 0;
    transition: all 0.3s;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked~.gender_check::after {
    opacity: 1;
}

.select {
    background: url('../assets/img/svg/arrows.svg') no-repeat right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* border: 1px solid #e4e4e4;
    border-radius: var(--main-border-radius); */
}
.select:has(option:checked[disabled]) {
   color: rgba(84, 84, 84, 0.4);
    font-family: 'inter', sans-serif;
    font-size: 15px;
    line-height: 1.467;
    /* padding: 10px; */
    letter-spacing: -0.2px;
    /* opacity: 0.4; */
}

.btn {
    background: var(--background-btn);
    color: #fff;
    padding: 8px 10px;
    border: 1px solid #E4E4E4;
    border-radius: var(--main-border-radius);
}

.btn_full {
    width: 100%;
}

.btn_min {
    width: 25%;
}

/* .btn_full {
    background-color: var(--background-btn);
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.467;
    letter-spacing: -0.1px;
    text-align: center;
    border: none;
    border-radius: var(--main-border-radius);
    height: 38px;
} */
.row_policy {
    margin: 0 auto;
    border-bottom: 1px solid #E4E4E4;
    display: block;
    padding-bottom: 20px;
}

.text_policy {
    /* font-weight: 400; */
    /* width: 410px; */
    font-size: 13px;
    line-height: 1.385;
    letter-spacing: -0.1px;
    text-align: center;
    color: #969696;
}

.link {
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.385;
    letter-spacing: -0.1px;
    text-align: center;
    color: var(--background-btn);
    text-decoration: none;
}

.footer_form {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 16px;
    margin-top: 20px;
}

/* input[type="file"]::file-selector-button {
  display: none;
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
} */
.row_profile {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    justify-content: flex-start;
    position: relative;
}

.row_img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 13px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: relative;
    top: 11px;
}

/* Прячем инпут с глаз долой */
.hidden-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Стилизуем label под кнопку */
.custom-label {
    cursor: pointer;
    background: transparent;
    width: 138px;
    height: 30px;
    /* color: white; */
    padding: 7px 8px 7px 114px;
    border: 1px solid #E4E4E4;
    border-radius: var(--main-border-radius);
    display: inline-block;

}

input:focus-visible,
.select:focus-visible {
    outline: 1px solid var(--background-btn);
}

.file_img {
    width: 16px;
    height: 16px;
}

.btn_delete {
    background: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid #E4E4E4;
    border-radius: var(--main-border-radius);
    position: relative;
    top: 11px;
}